<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="bg-slate-700 text-white">
    <header><%- include('partials/header') %></header>
    <main class="flex-col p-8">
      <h1 class="text-2xl">All Categories</h1>
      <ul>
        <% for (let category of categories_list) { %>
        <li>
          <a class="" href="/hikes/category/<%= category.id %>">
            <%= category.name %>:
          </a>
          <span> <%= category.description %> </span>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
