<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="bg-slate-700 text-white">
    <header><%- include('partials/header') %></header>
    <main class="flex-col p-8">
      <h1 class="text-2xl">All Hikes</h1>
      <div>
        <ul class="">
          <% for (let hike of hikes_list) { %>
          <li>
            <a class="font-bold" href="/hikes/hike/<%= hike.id %>">
              <%= hike.name %>
            </a>
            <span><%= hike.difficulty %></span>
            <span><%= hike.miles %></span>
            <span><%= hike.elevation %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
